In [3]:
### Test Sheet

In [176]:
!pip install yfinance
import yfinance as yf
import pandas as pd

Requirement already satisfied: yfinance in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (0.1.59)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from yfinance) (2.25.1)
Requirement already satisfied: pandas>=0.24 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from yfinance) (1.2.4)
Requirement already satisfied: lxml>=4.5.1 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from yfinance) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\loud\anaconda3\envs\algotrading\lib\site-packages (from requests>=2.20->yfinance) (2.10)

In [210]:
my_portfolio = yf.Ticker("CCL") 
test_2_df = my_portfolio.history(period="1y", interval = "1d")

In [211]:
import pandas as pd
import numpy as np
%matplotlib inline

In [212]:
test_2_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-06-05,22.299999,22.940001,21.059999,21.510000,113521100,0,0
2020-06-08,24.570000,25.280001,23.410000,24.910000,107262900,0,0
2020-06-09,23.879999,23.900000,21.930000,23.040001,72547400,0,0
2020-06-10,22.200001,22.469999,19.500000,20.590000,82883100,0,0
2020-06-11,17.290001,18.990000,16.750000,17.440001,79106600,0,0

In [213]:
test_2_df['movement'] = test_2_df['Close'] - test_2_df['Open']
test_2_df['daily_return'] = test_2_df['Close'].dropna().pct_change()
test_2_df['Positive Return'] = np.where(test_2_df['daily_return'] > 0, 1.0, 0.0)
test_2_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,movement,daily_return,Positive Return
Date,,,,,,,,,,
2020-06-05,22.299999,22.940001,21.059999,21.510000,113521100,0,0,-0.789999,NaN,0.0
2020-06-08,24.570000,25.280001,23.410000,24.910000,107262900,0,0,0.340000,0.158066,1.0
2020-06-09,23.879999,23.900000,21.930000,23.040001,72547400,0,0,-0.839998,-0.075070,0.0
2020-06-10,22.200001,22.469999,19.500000,20.590000,82883100,0,0,-1.610001,-0.106337,0.0
2020-06-11,17.290001,18.990000,16.750000,17.440001,79106600,0,0,0.150000,-0.152987,0.0

In [214]:
test_2_df['decision'] = np.nan
test_2_df['profit/loss'] = np.nan
test_2_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,movement,daily_return,Positive Return,decision,profit/loss
Date,,,,,,,,,,,,
2020-06-05,22.299999,22.940001,21.059999,21.510000,113521100,0,0,-0.789999,NaN,0.0,NaN,NaN
2020-06-08,24.570000,25.280001,23.410000,24.910000,107262900,0,0,0.340000,0.158066,1.0,NaN,NaN
2020-06-09,23.879999,23.900000,21.930000,23.040001,72547400,0,0,-0.839998,-0.075070,0.0,NaN,NaN
2020-06-10,22.200001,22.469999,19.500000,20.590000,82883100,0,0,-1.610001,-0.106337,0.0,NaN,NaN
2020-06-11,17.290001,18.990000,16.750000,17.440001,79106600,0,0,0.150000,-0.152987,0.0,NaN,NaN

In [215]:
previous_price = 0

In [216]:
buy = []
sell = []

for index, row in test_2_df.iterrows():

    if previous_price == 0:
        test_2_df.loc[index, "decision"] = "buy"
        buy.append(row["Close"])
        test_2_df.loc[index, "profit/loss"] = 0
    elif row["Close"] < previous_price:
        test_2_df.loc[index, "decision"] = "buy"
        buy.append(row["Close"])
        test_2_df.loc[index, "profit/loss"] = 0
    elif row["Close"] > previous_price:
        test_2_df.loc[index, "decision"] = "sell"
        sell.append(row["Close"])
        test_2_df.loc[index, "profit/loss"] = sell[-1] - buy[-1]
    else:
        test_2_df.loc[index, "decision"] = "hold"

    previous_price = row["Close"]

In [217]:
test_2_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,movement,daily_return,Positive Return,decision,profit/loss
Date,,,,,,,,,,,,
2020-06-05,22.299999,22.940001,21.059999,21.510000,113521100,0,0,-0.789999,NaN,0.0,buy,0.0
2020-06-08,24.570000,25.280001,23.410000,24.910000,107262900,0,0,0.340000,0.158066,1.0,sell,3.4
2020-06-09,23.879999,23.900000,21.930000,23.040001,72547400,0,0,-0.839998,-0.075070,0.0,buy,0.0
2020-06-10,22.200001,22.469999,19.500000,20.590000,82883100,0,0,-1.610001,-0.106337,0.0,buy,0.0
2020-06-11,17.290001,18.990000,16.750000,17.440001,79106600,0,0,0.150000,-0.152987,0.0,buy,0.0

In [218]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
label_encoder = LabelEncoder()
label_encoder.fit(test_2_df['decision'])
list(label_encoder.classes_)
label_encoder.transform(test_2_df['decision'])
test_2_df['buy_sell_hold'] = label_encoder.transform(test_2_df['decision'])
test_2_df.sample(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,movement,daily_return,Positive Return,decision,profit/loss,buy_sell_hold
Date,,,,,,,,,,,,,
2021-02-04,21.000000,21.33,20.66,21.049999,32541100,0,0,0.049999,0.029843,1.0,sell,2.379999,2
2020-08-20,14.350000,14.72,14.17,14.540000,19955400,0,0,0.190000,-0.004110,0.0,buy,0.000000,0
2021-04-28,27.700001,28.27,27.57,27.799999,17273000,0,0,0.099998,-0.000360,0.0,buy,0.000000,0
2020-10-23,15.190000,15.50,15.03,15.360000,25638400,0,0,0.170000,0.011192,1.0,sell,0.880000,2
2020-09-29,15.250000,15.43,14.82,15.070000,23215000,0,0,-0.180000,-0.015676,0.0,buy,0.000000,0

In [219]:
neural_df = test_2_df.copy()
neural_df.drop(columns = ['Dividends', 'Stock Splits', 'Positive Return', 'decision', 'profit/loss','daily_return'], inplace = True)
neural_df = neural_df.dropna()
neural_df.head()

,Open,High,Low,Close,Volume,movement,buy_sell_hold
Date,,,,,,,
2020-06-05,22.299999,22.940001,21.059999,21.510000,113521100,-0.789999,0
2020-06-08,24.570000,25.280001,23.410000,24.910000,107262900,0.340000,2
2020-06-09,23.879999,23.900000,21.930000,23.040001,72547400,-0.839998,0
2020-06-10,22.200001,22.469999,19.500000,20.590000,82883100,-1.610001,0
2020-06-11,17.290001,18.990000,16.750000,17.440001,79106600,0.150000,0

In [220]:
#Shifting independent variables 
x_var_list = ['Close', 'Volume', 'Open', 'High', 'Low', 'movement']
neural_df[x_var_list] = neural_df[x_var_list].shift(1).dropna()
neural_df.head()

,Open,High,Low,Close,Volume,movement,buy_sell_hold
Date,,,,,,,
2020-06-05,NaN,NaN,NaN,NaN,NaN,NaN,0
2020-06-08,22.299999,22.940001,21.059999,21.510000,113521100.0,-0.789999,2
2020-06-09,24.570000,25.280001,23.410000,24.910000,107262900.0,0.340000,0
2020-06-10,23.879999,23.900000,21.930000,23.040001,72547400.0,-0.839998,0
2020-06-11,22.200001,22.469999,19.500000,20.590000,82883100.0,-1.610001,0

In [221]:
#Drop null values
neural_df = neural_df.dropna()
neural_df.isnull().sum()

Open             0
High             0
Low              0
Close            0
Volume           0
movement         0
buy_sell_hold    0
dtype: int64

In [228]:
x = neural_df.copy()
x.drop(columns = ['buy_sell_hold'], inplace = True)
x.head()

                 Open       High        Low      Close       Volume  movement
Date
2020-06-08  22.299999  22.940001  21.059999  21.510000  113521100.0 -0.789999
2020-06-09  24.570000  25.280001  23.410000  24.910000  107262900.0  0.340000
2020-06-10  23.879999  23.900000  21.930000  23.040001   72547400.0 -0.839998
2020-06-11  22.200001  22.469999  19.500000  20.590000   82883100.0 -1.610001
2020-06-12  17.290001  18.990000  16.750000  17.440001   79106600.0  0.150000

In [232]:
y = neural_df.copy()
y.drop(columns = ['Close','Volume', 'movement', 'Open', 'High', 'Low'], inplace = True)
y.head()

            buy_sell_hold
Date
2020-06-08              2
2020-06-09              0
2020-06-10              0
2020-06-11              0
2020-06-12              2

In [233]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state= 23)
x_scaler = StandardScaler()
x_scaler.fit(x_train)
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [235]:
from sklearn.ensemble import RandomForestClassifier

In [236]:
rf_model = RandomForestClassifier(n_estimators = 500, random_state = 23)

In [250]:
#rf_model = rf_model.fit(x_train_scaled, y_train)
rf_model = rf_model.fit(x_train_scaled, y_train.values.ravel())
predictions = rf_model.predict(x_test_scaled)
model.score(x_test_scaled, y_test)

-0.028282452700739036

In [259]:
predictions

array([[1.00072499],
       [0.77125362],
       [1.07816786],
       [0.92660576],
       [0.75760591],
       [0.84713802],
       [0.97510654],
       [0.91474271],
       [1.16900318],
       [0.96614117],
       [0.902615  ],
       [0.91301487],
       [1.14588888],
       [0.89733989],
       [1.20968223],
       [0.8383414 ],
       [0.9376997 ],
       [1.10050044],
       [0.79612818],
       [1.07648252],
       [1.03840035],
       [0.84154992],
       [0.99697717],
       [0.93846194],
       [0.96339806],
       [0.99845395],
       [1.17943835],
       [1.02836949],
       [1.08935936],
       [1.05996933],
       [0.80246465],
       [0.9771679 ],
       [0.89845602],
       [0.95249212],
       [0.9603566 ],
       [0.8048364 ],
       [1.01483664],
       [1.07269337],
       [0.87787655],
       [0.77556126],
       [1.06413327],
       [1.41147653],
       [1.06735873],
       [0.9697626 ],
       [1.00234305],
       [1.09995162],
       [0.9186137 ],
       [1.02744265],
       [0.89624402],
       [0.99357721],
       [1.11586786],
       [1.14905015],
       [0.82096004],
       [0.90180278],
       [0.92157275],
       [1.0844834 ],
       [0.95791805],
       [1.11668685],
       [1.04542118],
       [0.92365262],
       [0.9252097 ],
       [1.00199808],
       [0.9472095 ]])

In [257]:
predictions = model.predict(x_test_scaled)

# Assemble actual y data (Y_test) with predicted y data (from just above) into two columns in a dataframe:
Results = y_test.to_frame()
Results["Predicted Value"] = predictions
Results

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [252]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[20, 12],
       [15, 16]], dtype=int64)

In [238]:
from sklearn.linear_model import LinearRegression